.fondo {
    background-color: $color-primero;
}

.borde {
    border-bottom: 4px solid $color-separador;
}

.logo {
    width: 120px;
    height: auto;
    padding: 0;
    margin-left: 20px;
}

.listaUl{
    list-style: none;
    
   
}
.miLink{
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: white;
    position: relative;
    margin-top:10px;
    font-family: $tipografia-general;
    font-size: $fuente-textos;
    padding: 0.5rem 1rem;
}
.miLink::after{
    content:'';
    width: 100%;
    height:1px;
    background-color: $color-tercero;
    border-radius:4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform:scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}
.miLink:hover::after{
    transform:scaleX(1);
}

