.contenedorTitulos {
    @extend .contenedorPrincipal;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/filadelibros.png);
    background-size: cover;
    background-position: center;
}


.fondoDos {
    background-color: $color-segundo;
}

.galeriaBiblioteca{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 430px;
    border:#395B64;
    img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;            
    }
    img:hover {
        cursor:pointer;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
}
    
}