$color-primero: #2C3333;
$color-segundo: #395B64;
$color-tercero: #A5C9CA;
$color-separador: #A5C9CA;

$fuente-titulos: 1.3rem;
$fuente-textos: 1rem;
$fuente-pequeña: 0.8rem;

$tipografia-general: 'Open Sans', sans-serif;
$tipografia-alternativa: 'Roboto', sans-serif; 

$fuentes-grosor: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    block: 900,
);